* {
  --clr1: #ffffff;
  --clr2: #e1e5f2;
  --clr3: #bfdbf7;
  --clr4: #1f7a8c;
  --clr5: #022b3a;
}
.ForumBody {
  padding: 10px;
  min-height: 100vh;
  min-width: 100%;
}
.ForumTile {
  width: 90vw;
  min-width: 300px;
  max-width: 1000px;
  margin: 10px;
  min-height: 100px;
  border: 1px solid black;
  background-color: var(--clr2);
  border-radius: 20px;
}

.ForumDetails {
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

.leftsection {
  flex-shrink: 0;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 5px;
  min-height: 10px;
  border-radius: 50px;
  height: 100%;
  background-color: var(--clr4);
}
.ForumImg {
  flex-shrink: 0;
  margin: 10px;
  background-color: var(--clr5);
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.LikeButton {
  width: 20px;
  height: 20px;
}
.buttonhoverpointer {
  cursor: pointer;
}

.bottomForum {
  height: 40px;
  display: flex;
  align-self: flex-start;
}

.ForumButton {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.popupcomment {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentWindow {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  border-radius: 25px;
  border: 2px solid black;
  background-color: var(--clr1);
}

.closeButton {
  margin: 10px;
  height: 30px;
  width: 30px;
  position: relative;;
  border-radius: 25px;
  align-self: flex-end;
  background-color: var(--clr3);
  border: 1px solid black;
}

/* CommentTile.css */

.comment-tile {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.user-profile {
  margin-right: 10px;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-details {
  flex-grow: 1;
}

.comment-details h3 {
  margin: 0;
}

.comment-details p {
  margin: 5px 0;
}

/* Add Forum CSS */
.AddForumTile {
  box-shadow: 0px 0px 100px 27px #000;
  bottom: 10px;
  position: fixed;
  width: 90vw;
  margin: 10px;
  border-radius: 20px;
  min-width: 300px;
  max-width: 1000px;
  border: 1px solid black;
  background-color: var(--clr2);
}

.inputaddForum {
  width: 100%;
  background-color: var(--clr2);
  height: 30px;
}

.UserIMGAddForum {
  flex-shrink: 0;
  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: var(--clr5);
}
.submitButton{
  flex-shrink: 0;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}