* {
  --clr1: #ffffff;
  --clr2: #e1e5f2;
  --clr3: #bfdbf7;
  --clr4: #1f7a8c;
  --clr5: #022b3a;
}
.ShopCardMain {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.ShopCard {
  margin: 50px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 15.9px 5px rgba(42, 114, 128, 0.3);
  background-color: var(--clr1);
}

.IMGshopCard {
  width: 150px;
  height: 150px;
  object-fit: fill;
}
.BuyButton {
  justify-content: space-evenly;
  display: flex;
  font-weight: 800;
  color: var(--clr1);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 60px;
  background-color: var(--clr5);
  transition: 0.2s;
}

.ShopCard:hover .BuyButton {
  padding-left: 40px;
  padding-right: 40px;
}

.shoppage {
  min-height: 100vh;
  /* background-color: var(--clr5); */
}

/* Navbar */
.Navbarbg {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--clr3);
}

/* HOME */
.HomeMain {
  background-color: transparent;
  overflow-x: hidden;
  width: 100%;
}

.hometitle {
  position: relative;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.5s;
  border-radius: 30px;
  font-size: 50px;
  color: var(--clr1);
  max-height: 500px;
  max-width: 800px;
  min-width: 300px;
  height: 100vh;
  width: 80vw;
  border: 1px solid rgb(255, 255, 255, 0);
  background-color: rgba(19, 35, 57, 0.9);
}
.hometitlecover {
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.ThreeScreen {
  position: fixed;
}

.hometitle:hover {
  border: 1px solid rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 20px 20px rgba(42, 114, 128, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
.texttitle {
  font-size: 50px;
  font-weight: 800;
  font-family: "Kanit", sans-serif;
  color: var(--clr1);
}
/* SERVICE CARDS */
.HomeCard1 {
  min-height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(19, 35, 57, 0.9);
  transition: 0.5s;
  border: 1px solid rgb(255, 255, 255, 0);
}
.HomeCard1:hover {
  /* border: 1px solid rgb(255, 255, 255, 0.1); */
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 10px 2px rgba(42, 114, 128, 0.5);
}

.HomeCardDetails {
  font-size: 18px;
  color: var(--clr3);
}

.ReadMoreButton {
  margin-right: 15px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.HomeCardTitle {
  font-size: 25px;
  font-weight: 600;
  color: var(--clr2);
}

@media (max-width: 768px) {
  .HomeCard1 {
    border: 1px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 80px 21px rgba(42, 114, 128, 0.5);
  }
  .hometitle {
    border: 1px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 80px 21px rgba(42, 114, 128, 0.5);
  }
}

.explorebutton {
  align-items: center;
  display: flex;
  font-size: 12px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top:15px ;
  color: var(--clr5);
  background-color: var(--clr1);
}
.ExploreSection {
  padding-top: 30px;
  min-height: 100vh;
}

.LogoSVGHOME{
  min-width: 300px;
  width: 70vw;
  max-width: 700px;
}